body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#root > .pageWrapper {
  padding-top: 4rem;
}


.button-primary {
  color: antiquewhite;
    background-color: transparent;
    border: 2px solid antiquewhite;
    margin: 1rem;
    padding: 0.4rem 1rem;
    border-radius: 5px;
}
.button-secondary {
  color: antiquewhite;
    background-color: rgb(66, 93, 100);
    border: 2px solid rgb(66, 93, 100);
    margin: 1rem;
    padding: 0.4rem 1rem;
    border-radius: 5px;
}
.button-centered {
  display: flex;
  justify-content: center;
  margin-top: 2rem
}
